<% provide(:title,"Hi~ o(*￣▽￣*)ブ") %>

<% if logged_in? %>
  <div class="row">
      <aside class="col-md-4">
          <section class="user_info">
              <%= render 'shared/user_info' %>
          </section>
          
          <section class="stats">
              <%= render 'shared/stats'%>
          </section>
          
          <section class="post_form">
              <%= render 'shared/post_form' %>
          </section>
      </aside>
      <div class="col-md-8">
          <h3>千人千语</h3>
          <%= render 'shared/feed' %>
      </div>
  </div>
  
<% else %>
  <div class="row">
      <aside class="col-md-4">
      <h2>Hi~亲！</h2>   
      <div class="well" align="center">
          <p ><%= link_to "登录", login_path, 
                  class: "btn btn-lg btn-primary" %></p>
          <p ><%= link_to "注册", signup_path, 
                  class: "btn btn-lg btn-primary" %></p>
          <p ><%= link_to "随便逛逛", posts_path%></p>
      </div>
      <p align="center">
          <%= link_to image_tag("juice.png", alt: "") %></p>
      </aside>
      
      <%= render partial: 'shared/introduction'%>

  </div>
<% end %>

