<%= link_to gravatar_for(current_user, size:50), current_user%>
<h1><%=current_user.username %></h1>
<span><%= link_to "查看简历", current_user %></span>
<!--<span><%= pluralize(current_user.posts.count, "文章")%></span>-->
<span>发表<%= current_user.posts.count %>条微语</span>