<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">

<li id="post-<%= post.id %>">
  <%= link_to gravatar_for(post.user, size: 50), post.user %>
  <span class="user"><%= link_to post.user.username, post.user %></span>
   
   
  <span class="content">
    <%= post.content %>
    <%= image_tag post.picture.url if post.picture? %>
  </span>
    
  <span class="timestamp">
    <%= post.get_created_at %> 
    <% if current_user?(post.user) %>
      <%= link_to "删除", post, method: :delete, 
                    data: { confirm: "确认删除？" } %>
    <% end %>
  </span>
    
  <span class="comment-count pull-right">
    <a href="<%= post_path(post)%>"><i class="fa fa-comment-o" style="padding-right: 15px;">
    <!-- 获取评论数 -->
    <%= "#{post.comments.count}" %>
    </i>
    </a>
    
    <%= render partial: 'posts/thumb', locals: { post: post } %>
  </span>


    
</li>




