<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">

<li id="post-<%= post.id %>">
  <%= render partial: 'posts/post_content', locals: { post: post } %>
    
  <span class="comment-count pull-right">
    <a href="<%= post_path(post)%>"><i class="fa fa-comment-o" style="padding-right: 15px;">
    <!-- 获取评论数 -->
    <%= "#{post.comments.count}" %></i></a>
    <%= render partial: 'posts/thumb', locals: { post: post } %>
  </span>
</li>




